table, td, tr {
    border: 2px solid black;
    margin-left:auto; 
        margin-right:auto;
        text-align:center;
  }

  tr  {
      background-color:wheat; 
      color:black;
    }

    tr #labels{
        background-color:dodgerblue; 
        color:black;
      }

    tr:nth-child(2)
    {
    background-color: green;
    color:white;
    }
  
    body{
        background-color: cadetblue;
        color: black;
    }

    table#myTable {
        margin-left:auto; 
        margin-right:auto;
        text-align:center;
      }

      .content {
        max-width: 500px;
        margin: auto;
      }

      #page-wrap {
        width: 800px;
        margin: 0 auto;
   }

   body {
    text-align: center;
   }

   .myDiv{
      margin-left:auto; 
        margin-right:auto;
        text-align:center;
   }